[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ManyIVsNets"]
	path = ManyIVsNets
	url = https://github.com/avishekb9/manyivsnets
